body{
font-family:Arial;
background:#eef2f3;
padding:20px;
}

.container{
max-width:700px;
margin:auto;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

h1{text-align:center;color:#2c3e50;}

input{
padding:10px;
margin:5px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px;
background:#3498db;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{background:#2980b9;}

ul{list-style:none;padding:0;}

li{
background:#ecf0f1;
margin:8px 0;
padding:10px;
border-radius:6px;
font-weight:bold;
}

.high{
background:#ffd6d6;
}